div.mschui-grid-container{
    font-size: 12px;
}
div.mschui-grid-table table {
    width: 100%;
    border: 1px solid #444444;
    border-collapse: collapse;
    table-layout:fixed;
}
div.mschui-grid-table th, div.mschui-grid-table td {
    border: 1px solid #444444;
}
div.mschui-grid-table td{
    /*text-overflow:ellipsis;*/
}

thead.content-head{}
thead.content-head > tr{}
thead.content-head > tr > th{
    position: relative;
    padding: 0;
}
tbody.content-body{}
tbody.content-body > tr > td{
    position: relative;
    padding: 0;
}
tbody.content-body > tr > td > span{
    display: block;
    word-break: break-all;
}
tbody.content-body > tr > td > span.ellipsis{
    word-break: normal;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}
span.content-head-title{

}
div.content-head-tooltip{
    display: none;
}
div.content-head-tooltip.active{
    display: block;
    position: absolute;
    top: 80%;
    left: 50%;
    width:120px;
    height:80px;
    line-height:80px;
    padding: 5px;
    background:yellow;
    font-size:24px;
    border:1px solid blue;
    color:blue;
    text-align:center;
    z-index : 1;
}
div.content-head-resize{
    position:absolute;
    top:0;
    right: -3px;
    cursor: col-resize;
    width : 5px;
    height: 100%;
    z-index : 2;
}
div.content-head-resize.active{
    background-color: aqua;
}
div.content-head-sort{
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translate(0, -50%);

    width: 40px;
    height: 18px;
}
div.content-head-sort.asc{
    margin:auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 10px solid #000;
}
div.content-head-sort.desc{
    margin:auto;
    width: 0;
    height: 0;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-top: 10px solid #000;
}